body {
  font-size: 16px;
  background-color: #c4232a;
  color: white;
  font-family:  'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1 {
  font-size: 24px;
}
.title {
  font-size: 0.8rem;
  text-transform: uppercase;
  margin: -8px;
  padding: 8px;
  white-space: nowrap;
  font-weight: normal;
}
.hidden {
  display: none;
}
#clip-data, #buttons{
  margin: 16px auto 8px auto;
}
.title-section > *,
.data-section > * {
  white-space: nowrap;
  margin: 0.1rem 0
}
#film-title {
  font-weight: 500;
}
.data-description {
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 500;
  opacity: 0.8;
}
.data-point {
  display: block;
  margin: 0.1em 0
}
.data-section {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 0 4px
}
.data-section .data-description {
  grid-row: 1
}
.data-section .data-point {
  grid-row: 2
}

#clip-id {
  font-size: 0.75rem;
  opacity: 0.8;
}

/* Buttons */
#buttons {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  gap: 16px;
  --button-size: 36px;
}
button {
  min-height: var(--button-size);
  color: black;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  outline-color: black; /* inverted */
  font-family: inherit;
  border-radius: 8px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-size: var(--button-size);
  filter: invert(100%);
}

button:hover {
  /* color ends up being white after filter */
  background-color: rgba(0,0,0,0.2);
}

.text-button {
  padding: 0.25rem 0.5rem 0.25rem var(--button-size);
}
.icon-button {
  min-width: var(--button-size);
  padding: 0.5rem;
  white-space: nowrap;
}

.link {
  grid-column: 2;
  font-size: 0.67rem;
  opacity: 0.8;
  color: white;
  justify-self: right;
}